/* color palette from <https://github.com/vuejs/theme> */
/* 自定义全局变量 */
:root {
  --vt-primary-color: #5e7ce0;
  --vt-white: #ffffff;
  /* 链接颜色 */
  --vt-link-color: #5e7ce0;
  /* 正文 */
  --vt-black: #252b3a;
  /* 次要文字 */
  --vt-black-secondary: #575d6c;
  /* 说明文字 */
  --vt-black-description: #8a8e99;
  /* 边框色、深色背景文字颜色 */
  --vt-border: #adb0b8;
  /* 卡片边框色 */
  --vt-card-border: #e9edfa;
  /* 分割线颜色 */
  --vt-divider: #dfe1e6;
  /* 组件禁用 */
  --vt-disabled: #f5f5f6;
  /* 错误 */
  --vt-red: #f66f6a;
  /* 成功 */
  --vt-green: #50d4ab;
  /* 警告 */
  --vt-orange: #fac20a;
  /* 页面背景色 */
  --vt-background: linear-gradient(to right, #ecf1fa, #f5f5f8);
  /* 高亮背景色 */
  --vt-heigh-background: #f2f5fc;
  /* 头部栏高度 */
  --vt-header-height: 48px;
  /* 标签栏高度 */
  --vt-tabs-height: 24px;
  /* 基础padding */
  --vt-base-padding: 16px;
  /* 小padding */
  --vt-small-padding: 8px;
  /* 基础字体大小 */
  --vt-base-font-size: 12px;
  /* 中等字体大小 */
  --vt-middle-font-size: 14px;
  /* 大字体大小 */
  --vt-large-font-size: 16px;
  /* 超大字体大小 */
  --vt-big-font-size: 18px;
  /* 一级阴影（常用） */
  --vt-base-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  /* 二级阴影 */
  --vt-middle-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  /* 三级阴影 */
  --vt-large-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  /* 四级阴影 */
  --vt-big-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.2);
  /* 基础圆角 */
  --vt-base-radius: 4px;
  /* 大圆角 */
  --vt-big-radius: 8px;
  /* 基础悬浮背景色 */
  --vt-hover-bg: rgba(0, 0, 0, 0.06);
}
/* 全局样式初始化 */
/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex="-1"]:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  text-align: left;
  caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* 这里默认隐藏 */
  background-color: transparent;
}
/* 悬浮时才显示 */
:hover::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
}

/*定义滚动条轨道
内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
  background-color: #fff;
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
