/* 可以在全局多次使用的样式 */

.ml4 {
  margin-left: 4px;
}
.ml10 {
  margin-left: 10px;
}
.ml8 {
  margin-left: 8px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.pt10 {
  padding-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt16 {
  margin-top: 16px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mr4 {
  margin-right: 4px;
}
.mr8 {
  margin-right: 8px;
}
.mr16 {
  margin-right: 16px;
}
.mr20 {
  margin-right: 20px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb20 {
  margin-bottom: 20px;
}
.base-padding {
  padding: var(--vt-base-padding) 24px;
}

.primary {
  color: var(--vt-primary-color);
}

.pointer {
  cursor: pointer;
}

.background {
  background: var(--vt-background);
}

.clearOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.middle-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
